.App {
  text-align: center;
}

li {
  list-style-type: none;
}

.form {
  display: flex;
  margin: 10px;
}

input {
  height: 28px;
}

label {
  margin: 15px;
}

.add__btn {
  width: 120px;
  height:34px;
  position: relative;
  bottom: -69px;
}

.add__btn:hover , .close__btn:hover {
  background: grey;
  color: white;
  border: 1px solid grey;
}

.clock {
  display: flex;
}

.clock__name, .clock__time {
  margin: 10px;
}

.close__btn {
  margin-top: 5px;
  height: 25px;
}

